parameters:
    level: 6
    paths:
        - bin/
        - config/
        - public/
        - src/
        - tests/
    ignoreErrors:
        - '#Method App\\Kernel::getAllowedEnvs\(\) is unused\.#'
